html,body,h1,h2,h3,p,ol,li,a {
    padding: 0;
    border: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} /*si elimina la formattazione che mette chrome di base*/




.nav li {  /*diverso da ul,li*/
font-size: 30;
text-align: center; /*home,recipes,suggest centrati nei box*/
display:inline-block;
width: 100px; /*dimensioni dei box*/
height: 40px; /*dimensioni dei box*/
margin: 20px; /*dimensioni dei box*/
border-bottom: 5px solid violet; /*bordo colorato nel box*/
cursor:auto;
background: rgb(202, 23, 122);
box-shadow: 0px 0px 10px 5px rgba(17, 72, 224, 0.75);
}

.nav :hover{     /*hover cioe quando il mouse passa di sopra*/
    color: white;   
}

.nav a{
text-decoration: none;  /*leva sottolineatura link*/
}

.heading{
text-align: center;
font-size: 30;
color: rgb(133, 89, 175);
text-transform: uppercase;
}


.p{
    text-align: center;
    font-size: 20;
    color: darkred;
    text-decoration: double;
}

.p1{
    text-align:center;
    position:absolute;
    bottom:0px;
    font-size: 20;
    color: rgb(46, 43, 43);
    text-decoration: double;
}

.list_cake{
    text-align:left;
    position:absolute;
    font-size: 30;
    color: rgb(51, 194, 170);
    
    
}

#image {
    display: inline;
    width: 400px;
    height: 400px;
}


textarea,label,input,button{
    display: block; /* altrimenti compaiono sulla stessa linea, devono essere block level tag */
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* siccome il div my_form che contiene tutti questi blocchi ha una widht fissa
     * se voglio centrare tutti questi figli (che ho trasformato in block-level e
     * quindi occupano tutta la riga) basta che setto i margini destro e sinistro
     * ad auto e chrome me li centra automaticamente
     * */
    margin-left: auto;
    margin-right: auto;
    width: 300px; /* larghezza fissa per tutti */
}

.my_form {
	width: 500px;
	margin: 0 auto 0 auto; /* stesso discorso per il div, lo centro nella pagina */
}


.my_form label {
	/* lo ho dovuto aggiungere per centrare le label nel div my_form
	 * se lo togli le label tornano allineate a sinistra non al centro
	 * */
	text-align: center;
}


/* allinea le immagini dello slideshow ho dovuto usare questo
 * strano selettore perche la classe avevo lo spazio */
div[class="mySlides fade"] {
	text-align: center;
}

